[submodule "roles/ansible-role-swap"]
	path = roles/ansible-role-swap
	url = https://github.com/jodykpw/ansible-role-swap.git
[submodule "roles/ansible-role-docker"]
	path = roles/ansible-role-docker
	url = https://github.com/geerlingguy/ansible-role-docker.git
[submodule "roles/ansible-role-mount"]
	path = roles/ansible-role-mount
	url = https://github.com/jodykpw/ansible-role-mount.git
[submodule "roles/ansible-role-rsnapshot"]
	path = roles/ansible-role-rsnapshot
	url = https://github.com/jodykpw/ansible-role-rsnapshot.git
